<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>

    <ion-title>Lectura de Código QR</ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>

  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
    (change)="verificarArchivoConQR($event.target.files)" />

  <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cargar Imagen con Código QR
  </ion-button>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-button (click)="limpiarDatos()" expand="block" expand="full" shape="round">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      Datos: {{ datosQR }}
      <br><br>
      Escaneando: {{ escaneando }}
      <br>
    </ion-card-content>
  </ion-card>
  
</ion-content>
